<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Comprehensions_and_Memory_Management.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1: Given an Input Integer N, Create a list containing all the numbers between 1 to N
```
Ex:
N =3
output = [1,2,3]
```

Q2: Given an Input Integer N, Create a list containing all the Square of numbers between 1 to N
```
Ex:
N = 3
output = [1,4,9]
```

Q3:  Given an Input Integer N, Create a list containing all the Even numbers between 1 to N

```
Ex:
N = 5
output = [2,4]
```

Q4: Given an input list of N numbers, Create a new list of Size N containing "Even" or "Odd"


```
Ex:
input = [1,3,4,2,5]
output = ("Odd","Odd","Even","Even","Odd")
```

Q5: Given an input list of N student, Create a new List containing length of Name of each Student
```
Ex:
students = ["Mohan","Jag", "Ramanna"]
Output=[5,3,7]
```



Q6: Given an input list of N numbers and N student, Create a new dictionary of Size N containing Name of Student as Key and Number as Values
```
Ex:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]

output:
{"Mohan":20, "Jagan":30, "Raman":10}

```

In [1]:
N = int(input())
new_list = []
for i in range(1,N+1):
    new_list.append(i)
print(new_list)

3
[1, 2, 3]

In [22]:
N = int(input())
new_list=[i for i in range(1,N+1)]
print(new_list)

5
[1, 2, 3, 4, 5]

In [2]:
N = int(input())
new_list = []
for i in range(1,N+1):
    new_list.append(i**2)
print(new_list)

3
[1, 4, 9]

In [23]:
N = int(input())
new_list=[i**2 for i in range(1,N+1)]
print(new_list)

5
[1, 4, 9, 16, 25]

In [25]:
N = int(input())
new_list=tuple((i**2 for i in range(1,N+1)))
print(new_list)

5
(1, 4, 9, 16, 25)

In [26]:
N = int(input())
new_list={i**2 for i in range(1,N+1)}
print(new_list)

5
{1, 4, 9, 16, 25}

In [3]:
N = int(input())
new_list = []
for i in range(1,N+1):
    if i%2==0:
        new_list.append(i)

print(new_list)

5
[2, 4]

In [28]:
N=5
print([i for i in range(2,N+1,2)])

[2, 4]

In [29]:
print([i for i in range(1,N+1) if i%2==0])

[2, 4]

In [31]:
# expected output should be a multiple of 3
print([i for i in range(1,N+1) if i%3==0])

[3]

In [4]:
N = int(input())
new_list = []
for i in range(2,N+1,2):
    new_list.append(i)

print(new_list)

5
[2, 4]

In [6]:
N = [2,4,5,7]
new_list = []
for i in N:
    if i%2==0:
        new_list.append("Even")
    else:
        new_list.append("Odd")

print(tuple(new_list))

('Even', 'Even', 'Odd', 'Odd')

In [39]:
N = [2,4,9,5,7]

print([i for i in N])

[2, 4, 9, 5, 7]

In [40]:
tuple(["Even" if i%2==0 else "odd" for i in N])

('Even', 'Even', 'odd', 'odd', 'odd')

In [42]:
out=["Multiple 2" if i%2==0 else "Multiple of 3" if i%3==0 else "no Idea" for i in N]
print(out)

['Multiple 2', 'Multiple 2', 'Multiple of 3', 'no Idea', 'no Idea']

In [10]:
N = [2,4,5,7]
new_list = tuple()
for i in N:
    if i%2==0:
        new_list = new_list + ("Even",)
    else:
        new_list = new_list + ("Odd",)

print(new_list)

('Even', 'Even', 'Odd', 'Odd')

In [11]:
N = input()

1 2 3 4

In [14]:
# functional programming
list(map(int, N.split()))

[1, 2, 3, 4]

In [7]:
a= "Sachin" # a ="Sachin Kaushik"
a = a+" Kaushik"
print(a)

Sachin Kaushik

In [48]:
N = ["Mohan","Jag", "Ramanna","Naman"]
output = []
for i in N:
    output.append(len(i))
print(output)

[5, 3, 7, 5]

In [ ]:
# %%timeit
# list comprehension
print([len(i) for i in N])

### Output should have only unique lengths i.e 5, 3, 7

In [ ]:
# set comprehension
print({len(i) for i in N})

In [51]:
students = ["Mohan","Jagan", "Raman"]
marks = [20,30,10]

dict1 = {}
for i in range(0, len(students)):
    dict1[students[i]] = marks[i]
print(dict1)

{'Mohan': 20, 'Jagan': 30, 'Raman': 10}

In [53]:
# dictionary comprehension
{students[i] : marks[i] for i in range(0, len(students))}

{'Mohan': 20, 'Jagan': 30, 'Raman': 10}

nested for loop

In [54]:
for i in range(4):
    for j in range(5):
        print(i*j)

0
0
0
0
0
0
1
2
3
4
0
2
4
6
8
0
3
6
9
12

Nested Loop Example:

In [55]:
[i*j for i in range(4) for j in range(5)]

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12]

In [66]:
def func():
    y = 10
    return y

y =20
func()
print(y)

20

In [59]:
a= 10
b =a
print(id(a)==id(b))

True

In [57]:
a= 10
b =a
b=b+1
print(id(a)==id(b))

False

In [58]:
a= [10]
b =a
b.append(11)
print(id(a)==id(b))

True

In [ ]:
### Mutable vs Imumatebl

def func():
    c=10
    print(c)

c=100
func()

In [5]:
c=10
b=c
print(id(b),id(c))
b=b+1
print(id(b),id(c))

140638861918736 140638861918736
140638861918768 140638861918736

In [6]:
print(b)
print(c)

11
10

In [2]:
c=[10]
b=c
print(id(b),id(c))
b.append(11)
print(id(b),id(c))

140637605501248 140637605501248
140637605501248 140637605501248

In [4]:
print(b)
print(c)

[10, 11]
[10, 11]

In [8]:
print({0,1}=={0,1,1,1})

True

In [9]:
print({1,0}=={0,1})

True

In [10]:
print([1,0]==[0,1])

False

In [11]:
print([1,0]==[1,0])

True

In [12]:
a=10
b=20
print(a==b)

False

In [13]:
a=[10]
b=a
b.append(10)
print(a is b) # id(a)==id(b)

True

In [15]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(z)
z[0]=z[-1]
print(z)

(1, 2, 3, 4, 5, 6)

TypeError: ignored