<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Control_Statements_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Today's session is dependent on Comparative Operators and Logical Operators
- Comparative Ops compare two things
- Combine multiple comparisons and evaluate

- and
- or
- not

In [1]:
print(True and True and True and True and False)

False

In [2]:
print(True or True or True or True or False)

True

When and and or are combine in a single statement preference of would be given to AND Operators

In [3]:
print(True and False or False)

False

In [4]:
print(True or True and False)

True

In [5]:
print((True or True) and False)

False

In [6]:
print(True or (True and False))

True

In [11]:
temp = int(input("Enter Temperature: "))
print(temp)

Enter Temperature: 45
45

In [12]:
temp<32

False

if block and 
else block

In [17]:
temp = int(input("Enter Temperature: "))
print(temp)
if temp<32:
    print("Wear Tshirt") # line 1
else:
    print("Wear Shirt") # line 2

Enter Temperature: 32
32
Wear Shirt

 shorts and pants

if (condition):
    # statement1
    # statement 2
else:
    # statement 3
    # statement

In [28]:
if True:
    print("Inside If") # line 1
    print("HELLO") # line 2
else:
    print("Inside Else") # line 3

Inside If
HELLO

In [31]:
if False:
    print("Inside If") # line 1
    print("HELLO") # line 2
else:
    print("Inside Else") # line 3
    print("Line 4")
    print("line 5")
    print("Line 6")

Inside Else
Line 4
line 5
Line 6

- TAB to shift by 4 spaces in forward direction
- SHIFT+TAB to shift by 4 spaces in backward direction

is else block mandotory?

In [33]:
weather = input()
if weather=="rainy":
    print("Take Umbrella")

not rainy

In [34]:
weather = input()
else:
    print("Take Umbrella")

SyntaxError: ignored

Break Work:

In [36]:
weather= input()
temp = int(input())

summer
32

In [39]:
weather= input("Enter Weather: ")
temp = int(input("Enter Temp: "))

if weather=='rainy' and temp<32:
    print("Wear Tshirt")
    print("Take Umbrella")
else:
    print("Wear Shirt")

Enter Weather: rainy
Enter Temp: 10
Wear Tshirt
Take Umbrella

Nested Condition:

In [43]:
weather= input("Enter Weather: ")
temp = int(input("Enter Temp: "))

if temp<32:
    print("Wear Tshirt") # 1
    if weather=='rainy':
        print("Take Umbrella") # 2
else:
    print("Wear Shirt")# 3
    if weather=='rainy': 
        print("Take Umbrella") #4

Enter Weather: rainy
Enter Temp: 50
Wear Shirt
Take Umbrella

In [46]:
weather= input("Enter Weather: ")
temp = int(input("Enter Temp: "))
if temp<32 and weather=='rainy':
    print("Wear Tshirt") # 1
    print("Take Umbrella") # 2
elif temp<32 and weather!='rainy': # if previos if is not true then only check this
    print("Wear Tshirt") # 1
elif temp>=32 and weather!='rainy':# if previos elif is not true then only check this
    print("Wear shirt") # 1
elif temp>=32 and weather=='rainy':
    print("Wear shirt") # 1
    print("Take Umbrella") # 2

Enter Weather: rainy
Enter Temp: 28
Wear Tshirt
Take Umbrella

In [63]:
num = 5

if num>15:
    print("Num is greater than 15") # 1
elif num>10:
    print("Num is greater than 10") # 2

In [64]:
num = 10

# if num is div by 2
# if num is div by 5 
# if num is div by 5 and 2

In [79]:
num = 10
if num%2==0 and num%5==0:
    print("Num div by both 2 and 5") # 3
elif num%2==0:
    print("Num div by 2") # 1
elif num%5==0:
    print("Num div by 5") # 2
else:
    print("Invalid Num")

Num div by both 2 and 5

In [81]:
name = "Jatin"
if name=="sachin":
    print("Correct Username")

print("Enter Password")

Enter Password

In [83]:
name = "Jatin"
if name=="sachin":
    print("Correct Username")
else:
    print("Incorrect Username")

print("Enter Password")

Incorrect Username
Enter Password

In [86]:
name = "Jatin"
if name=="sachin":
    print("Correct Username")

else:
    print("Incorrect Username")

Incorrect Username

In [87]:
name = ("Sachin", "Jatin")
pwd = ("1234", "9990")

# take input from user and validate username and password
# Approach1: nested if block
# Approach2: if elif
# if all condtions print("{USERNAME} logged in Succesfully") 
# else print("Incorrect Username or PWD")