<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t = [[1,2], [3,4], (5,6)]
print(t[1])
a, b = t[1]

[3, 4]

In [2]:
print(a)
print(b)

3
4

In [3]:
s = {{1,2,3,4,5}}
print(s)

TypeError: ignored

In [5]:
a = {1,2,3}
b = {1,2}
print(b-a)

set()

In [8]:
a = None
print(type(a))

<class 'NoneType'>

None != None of the above

In [9]:
a = {1,2,3}
b = {1,2}
print(a-b)

{3}

In [12]:
s1 = {1,2,3}
s2 = {2,3,4,5}
result = s1 & s2 - s2
print(result)

set()

### Empty dictionary

In [16]:
a = {}
print(type(a))

<class 'dict'>

In [15]:
a = dict()
print(type(a))

<class 'dict'>

In [17]:
a = {'random':'Bizzare'}
print(a)

{'random': 'Bizzare'}

In [ ]:
a = {'random':'Bizzare'}
print(a)

In [18]:
a = {'random':'Bizzare', "b": "Value2", 4:["Hello"]}
print(a)

{'random': 'Bizzare', 'b': 'Value2', 4: ['Hello']}

In [19]:
print(len(a))

3

In [26]:
a = {'random':'Bizzare', "b": "Value2", 4:["Hello"]}
print(a)

{'random': 'Bizzare', 'b': 'Value2', 4: ['Hello']}

In [27]:
a = {'random':{'H':'Value2'}}
print(a)

{'random': {'H': 'Value2'}}

In [28]:
# hashmap ,  map

{'random': {'H': {'J': 'Value'}}}

In [30]:
a = {'random':'Bizzare', "b": "Value2", "b":"Value3"}
print(a)

{'random': 'Bizzare', 'b': 'Value3'}

In [31]:
a = {'random':'Bizzare', "b": "Value2", "c":"Value2"}
print(a)

{'random': 'Bizzare', 'b': 'Value2', 'c': 'Value2'}

## Why do we need Dictionary
### Accessing Elements in Dictionary

In [38]:
state_wise_data = {"Delhi":400,
              "Haryana":200,
              "Tamil Nadu": 150}
print(state_wise_data)

{'Delhi': 400, 'Haryana': 200, 'Tamil Nadu': 150}

In [39]:
state_wise_data['Tamil Nadu']

150

In [40]:
state_wise_data["Haryana"]

200

In [35]:
state_wise_data = [["Delhi",400], ["Haryana",200], ["Tamil Nadu", 150]]
print(state_wise_data)

[['Delhi', 400], ['Haryana', 200], ['Tamil Nadu', 150]]

In [42]:
state_wise_data_list = [["Delhi",400], ["Haryana",200], ["Tamil Nadu", 150],["Delhi",500]]
print(state_wise_data_list)

[['Delhi', 400], ['Haryana', 200], ['Tamil Nadu', 150], ['Delhi', 500]]

In [43]:
state_wise_data_list[1][1]

200

### New key Value pair in existing dictionary

In [45]:
state_wise_data

{'Delhi': 400, 'Haryana': 200, 'Tamil Nadu': 150}

In [47]:
# dict['key']=Value
state_wise_data["Karnataka"]=232
print(state_wise_data)

{'Delhi': 400, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232}

In [48]:
state_wise_data["Delhi"]=232
print(state_wise_data)

{'Delhi': 232, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232}

In [49]:
new_data= {"Pondicherry": 110, "West Bengal": 120, "Maharashtra": 140, "MP":112}

- Update function: Merges two dictionaries

In [50]:
state_wise_data.update(new_data)

In [51]:
print(state_wise_data)

{'Delhi': 232, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'Pondicherry': 110, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112}

In [53]:
state_wise_data.update({"UK":80, "Delhi":450})

In [54]:
print(state_wise_data)

{'Delhi': 450, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'Pondicherry': 110, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112, 'UK': 80}

Access Methods:

In [56]:
state_wise_data['UK']

80

In [57]:
state_wise_data['uk']

KeyError: ignored

- get

In [59]:
print(state_wise_data.get('uk'))

None

In [60]:
print(state_wise_data.get('UK'))

80

In [61]:
print(state_wise_data.get('UK', "Data for State not Present"))

80

In [62]:
print(state_wise_data.get('United Kingdom', "Data for State not Present"))

Data for State not Present

- Delete: remove key value pair
- Iteration over dictionary

### Pop to delete key value pairs

In [63]:
state_wise_data.pop('UK')
print(state_wise_data)

{'Delhi': 450, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'Pondicherry': 110, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112}

In [64]:
d = state_wise_data.pop('Pondicherry')
print(state_wise_data)

{'Delhi': 450, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112}

In [65]:
print(d)

110

In [66]:
state_wise_data.pop('Pondicherry')
print(state_wise_data)

KeyError: ignored

In [67]:
state_wise_data.pop()
print(state_wise_data)

TypeError: ignored

del

In [68]:
del state_wise_data

In [69]:
print(state_wise_data)

NameError: ignored

In [70]:
new_state_data = {'Delhi': 450, 'Haryana': 200, 'Tamil Nadu': 150}
del  new_state_data['Haryana']

In [71]:
print(new_state_data)

{'Delhi': 450, 'Tamil Nadu': 150}

In [73]:
del new_state_data['Kerala']

KeyError: ignored

In [78]:
k = 'Tamil Nadu'
val = new_state_data.get(k)
if val is not None:
    print(new_state_data.pop(k))
    print(f"{k} deleted")
else:
    print(f"{k} is not Present")

150
Tamil Nadu deleted

### Iterating Dictionary

In [82]:
state_data = {'Delhi': 450, 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112}
# method 1 of iterating
for key in state_data:
    print(key,state_data[key])

Delhi 450
Haryana 200
Tamil Nadu 150
Karnataka 232
West Bengal 120
Maharashtra 140
MP 112

In [84]:
for key in state_data:
    print(f"State: {key} --> PPM: {state_data[key]}")

State: Delhi --> PPM: 450
State: Haryana --> PPM: 200
State: Tamil Nadu --> PPM: 150
State: Karnataka --> PPM: 232
State: West Bengal --> PPM: 120
State: Maharashtra --> PPM: 140
State: MP --> PPM: 112

In [85]:
state_data.items()

dict_items([('Delhi', 450), ('Haryana', 200), ('Tamil Nadu', 150), ('Karnataka', 232), ('West Bengal', 120), ('Maharashtra', 140), ('MP', 112)])

In [86]:
# method 2 of iterating
for key,Value in state_data.items():
    print(key,Value)

Delhi 450
Haryana 200
Tamil Nadu 150
Karnataka 232
West Bengal 120
Maharashtra 140
MP 112

In [88]:
# method 2 of iterating
for key,Value in state_data.items():
    if 'a' in key:
        print(key,Value)

Haryana 200
Tamil Nadu 150
Karnataka 232
West Bengal 120
Maharashtra 140

In [91]:
for Key,Value in state_data.items():
    if Value>150:
        print(Key)

Delhi
Haryana
Karnataka

In [92]:
for Key in state_data:
    if state_data[Key]>150:
        print(Key)

Delhi
Haryana
Karnataka

In [94]:
state_data = {'Delhi': [450,500], 'Haryana': 200, 'Tamil Nadu': 150, 'Karnataka': 232, 'West Bengal': 120, 'Maharashtra': 140, 'MP': 112}

for Key in state_data:
    if Key.startswith('D'):
        print(Key,state_data[Key])

Delhi [450, 500]

In [95]:
B = {1: 55, 66: 1, 3: 77}
print(B[1])

55

In [97]:
B = {1: 55, 66: 1, 3: 77}
print(B[0])

KeyError: ignored

In [99]:
#What does the following Python code output?
words = {
"is": 2,
"hello": 4,
"the": 3
}

type(words)

dict

- List , Set and Dictionary

Homework Question: What does the following Python code output?
```
Input : "is the hello hello is the the hello the"

Output:

words = {
"is": 2,
"hello": 3,
"the": 4
}

```

## **Question**
* Take a string as input.
* Create a dictionary according to the following criteria :-
    * There will be one key value pair for each unique character
    * Key will be character name and value will be the count of the character inside the string.


**Example input**:
```
rrsssstttt
```

**Example output**:
```
{
    "r": 2,
    "s": 3,
    "t": 4
}
```

In [103]:
string = input()
dict1= {}
for i in set(string):
    print(i)
    dict1[i] = string.count(i)
print(dict1)

sssssttt
s
t
{'s': 5, 't': 3}

Can be Optimized even further

In [106]:
string = 'rssttt'
dict1= {}

for i in string:

    if i in dict1:
        dict1[i] = dict1[i] +1
    else:
        dict1[i] = 1

print(dict1)

{'r': 1, 's': 2, 't': 3}

In [ ]:
len = 10000

1000 Ops,
Set: 10000*100(unique)
Original: 10000*10000

In [107]:
dict1.items()

dict_items([('r', 1), ('s', 2), ('t', 3)])

In [110]:
list1 = [["A",1],("B",2)]
print(dict(list1))

{'A': 1, 'B': 2}

In [109]:
list1 = [["A",1,1],["B",2,1]]
print(dict(list1))

ValueError: ignored

In [111]:
list1 = ["A","B"]
list2= [1,2]
new_list1= []
# loop over to create: new_list1 = [["A",1],["B",2]]

In [114]:
list1 = ["A","B"]
list2= [1,2]
new_list1= zip(list1,list2)
print(dict(new_list1))

{'A': 1, 'B': 2}

In [115]:
list1 = ["A","B"]
list2= [1,2]
new_list1= zip(list1,list2)
print(list(new_list1))

[('A', 1), ('B', 2)]

In [116]:
print(new_list1)

<zip object at 0x7f33b69e2880>

In [117]:
print(num=15)

TypeError: ignored

In [118]:
num=15
print(num)

15

In [119]:
print(num:=15)

15

In [120]:
num

15

In [121]:
a = 10
b= None
if a>5:
    b =20
else:
    b=30

In [122]:
a = 10
b= None
b = 20 if a>5 else 30
print(b)

20

In [125]:
a= 10
b =20

print("Value of A is:",a, "B is: ", b)

Value of A is: 10 B is:  20

In [130]:
print("Value of A is: " + str(a) + " B is: "+ str(b))

Value of A is: 10 B is: 20

In [138]:
print(f"Value of A is: {a}\n B is: {b}")

Value of A is: 10
 B is: 20