<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Functions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def abc():
    return "I am a function!"
abc()

In [6]:
def abc():
    return "I am a function!"
print(abc)

<function abc at 0x7f51c05bf250>

In [8]:
abc

In [9]:
abc()

'I am a function!'

In [16]:
def abc(A):
    return "I am a function!"
abc()

TypeError: ignored

In [17]:
def abc(A):
    return A
print(abc("Hello"))

Hello

In [20]:
def abc(A):
    print("A")
out = abc("Hello")
print(out)

A
None

Positional Vs Keyword Arg

In [21]:
def introduce_family(my_name, father_name,mother_name):
    print("My name is",my_name)
    print("Father's name is",father_name)
    print("Mother's name is",mother_name)

# positional arguments
introduce_family("Mary", "John","Cena")

My name is Mary
Father's name is John
Mother's name is Cena

In [22]:
# positional arguments
introduce_family("John", "Cena","Mary")

My name is John
Father's name is Cena
Mother's name is Mary

In [23]:
# KEYWORD ARGUMENT
introduce_family(my_name="Mary", father_name="John",mother_name="Cena")

My name is Mary
Father's name is John
Mother's name is Cena

In [24]:
# KEYWORD ARGUMENT
introduce_family(father_name="John",mother_name="Cena",my_name="Mary")

My name is Mary
Father's name is John
Mother's name is Cena

In [25]:
# KEYWORD ARGUMENT
introduce_family(father_name="John",my_name="Mary",mother_name="Cena")

My name is Mary
Father's name is John
Mother's name is Cena

In [26]:
introduce_family("mary",mother_name="Cena",father_name="John")

My name is mary
Father's name is John
Mother's name is Cena

In [27]:
introduce_family(mother_name="Cena",father_name="John","mary")

SyntaxError: ignored

- Positional args should be before Keyword arg

### Default Argument

In [28]:
def abc(A):
    return "I am a function!"
abc()

TypeError: ignored

In [32]:
def abc(A="Hi"):
    print(A)
    return "I am a function!"
abc()

Hi

'I am a function!'

In [33]:
def abc(A="Hi"):
    print(A)
    return "I am a function!"
abc("Hello") # after this line all logic inside function will be executed

Hello

'I am a function!'

In [34]:
def basketball(radius, color = 'Orange'):
    print(radius)
    print(color)

basketball(15)

15
Orange

In [35]:
def basketball(radius, color = 'Orange'):
    print(radius)
    print(color)

basketball(15, "Blue")

15
Blue

In [39]:
def basketball(radius, color = 'Orange', game=None ):
    print(radius)
    print(color)
    print(game)

In [42]:
basketball(10 , game = "NBA") #

10
Orange
NBA

In [43]:
def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: ignored

In [44]:
def function(var):
    var = var + 1
    print(var)

function()
function(10)

TypeError: ignored

In [45]:
def function(var=5):
    var = var + 1
    print(var)

function()

6

In [46]:
function(10)

11

### HW Question:

Q1: Write a function to calculate the total interest and amount for bank loan app. The function should take 3 argument, P, R and T where R will have default value of rate of interest as 10%

Q2:
Create a date printing function which should take 4 arguments **day**, **month**, **year**, **style**.
<br>

**Styling logic**

* style -> 0 -> d/m/y
* style -> 1 -> m/d/y
* style -> anyhing else -> Invalid syntax

default style is 0.


```
input:
23, 12, 2022
23, 12, 2022, 1
23, 12, 2022, 5

output
23 / 12 / 2022
12 / 23 / 2022
Invalid Style!

In [47]:
def func():
    a = 10
print(a)

NameError: ignored

- Why: we did not call the function so a =10 is not executed

In [55]:
def func():
    b = 100
    print("Local",b)

func()
print(b)

Local 100

NameError: ignored

In [52]:
a = 10
def func():
    print("Local",a)

func()
print("Global",a)

Local 10
Global 10

In [56]:
a = 10
def func():
    a = 11 # a new local variable
    print("Local",a)

func()
print("Global",a)

Local 11
Global 10

IF you try to modify a global variable inside the function, it creates a local variable and doesn't affect global variable"

In [58]:

def func():
    print("Local",z)


func()
z = 10
print("Global",z)

NameError: ignored

In [ ]:
x = 55
def hi():
    x = 10 # creating local varible
    return x
print(hi())

In [76]:
x = 55
def hi():
    x = x+ 10 # create a local var using global value : x+=10
    return x
print(hi())

UnboundLocalError: ignored

In [80]:
x = 55
def hi():
    x = 100
    x += 10 # create a local var using global value : x+=10
    return x

x+=10
print(hi())

110

In [81]:
print(x)

65

In [82]:
x = 55
def hi():
    global x
    x =  100 # create a local var using global value : x+=10
    return x
print(hi())

100

In [83]:
print(x)

100

In [85]:
a = 10
def func():
    global a
    a = 11 # a new local variable
    print("Local",a)

func()
print("Global",a)

Local 11
Global 11

In [99]:
def account(name,acc_id, bank_name="SBI"):
    print(name)
    print(acc_id)
    print(bank_name)

account("A", 100)
account("B", 101)

A
100
SBI
B
101
SBI

In [101]:
acc_id = 100
def account(name, bank_name="SBI"):
    global acc_id
    print(name)
    print(acc_id)
    acc_id+=1
    print(bank_name)
account("A")

A
100
SBI

In [102]:
account("B")

B
101
SBI

In [103]:
account("C")

C
102
SBI

In [104]:
print(acc_id)

103

In [107]:
def func():
    print("hello")

    return 1
func()

hello

1

In [ ]:
after we pass a keyword arg,
can a subsequent positional arg for the
 same function rewrite the values?

In [114]:
def func(a=5, b=6):
    print("A",a)
    print("b", b)
func(10, 11)

A 10
b 11

In [115]:
def func(a, b):
    print("A",a)
    print("b", b)
func(10, a=11)

TypeError: ignored

In [119]:
def func(a, b):
    print("A",a)
    print("b", b)

    def func2():
        print("hello")

    func2()
func(1,2)

A 1
b 2
hello

In [120]:
func2()

NameError: ignored

In [122]:
def func(a, b):
    print("A",a)
    print("b", b)


    def func2():
        print(a)
        c=3
        print("hello")

    func2()
    print(c)
func(1,2)

A 1
b 2
1
hello

NameError: ignored

end of class- can we discuss good practice for naming convention for variables, functions, etc for projects/work environment so that there is no mixups in the names?

# GLOBAL VARS Should be CapitalCase
# Local Vars should be  snake-case(Preferred) or camel-case
# Function name should be  snake-case or camel-case (Preferred)
# Class Name should be PascalCase

In [ ]:
def MYFUNC():  # Capital case
    pass

def myFunc():  # camel case
    pass

def my_func():  # snake case
    pass

def MyFunc():  # pascal case
    pass

In [ ]:
date_style("26",m="12",y="2023" , d=1) # Can we use combination of arguments like this

In [125]:
def celsius_farhen(Celsius):
    ans = round((Celsius * (9/5)) + 32,2)
    # YOUR CODE GOES HERE
    return ans

n = float(input())
print(celsius_farhen(n))

In [128]:
ans = round(100.033, 2)
print(ans)

100.03

In [129]:
ans = 100.033
ans = round(ans, 2)
print(ans)

100.03

In [ ]:
if __name =='__main__': # avoid running everything when script is imported