<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Functions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
n=10
total_10 = 0
i = 1
while i <= n:
    total_10 += i
    i += 1
print(total_10)

36

In [ ]:
n=8
total_8 = 0
i = 1
while i <= n:
    total_8 += i
    i += 1
print(total_8)

In [6]:
n=int(input())
total = 0
i = 1
while i <= n:
    total += i
    i += 1
print(total)

8
36

In [7]:
n=int(input())
total = 0
i = 1
while i <= n:
    total += i
    i += 1
print(total)

10
55

In [9]:
def myfunction():
    n=int(input())
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    print(total)

In [10]:
myfunction()

8
36

In [11]:
myfunction()

9
45

In [12]:
myfunction()

120
7260

In [13]:
myfunction()

130
8515

In [14]:
myfunction()
myfunction()
myfunction()

3
6
4
10
5
15

In [15]:
for i in range(5):
    myfunction()

3
6
88
3916
99
4950
2000
2001000
23490
275901795

In [20]:
def knock(): # define the function
    print("Knock Sheldon")
    print("Knock Sheldon")
    print("Knock Sheldon")
knock() # call the function

Knock Sheldon
Knock Sheldon
Knock Sheldon

In [21]:
knock()

Knock Sheldon
Knock Sheldon
Knock Sheldon

In [22]:
def knock(): # define the function
    var = input()
    print("Knock ", var)
    print("Knock ", var)
    print("Knock ", var)
knock() # call the function

Sheldon
Knock  Sheldon
Knock  Sheldon
Knock  Sheldon

In [24]:
knock() # call the function

Penny
Knock  Penny
Knock  Penny
Knock  Penny

### Arguments/Parameters: Functions can take arguments and ustilise them

In [26]:
def knock(var): # define the function
    print("Knock ", var)
    print("Knock ", var)
    print("Knock ", var)

knock("Sheldon") # call the function

Knock  Sheldon
Knock  Sheldon
Knock  Sheldon

In [27]:
knock("Penny") # call the function

Knock  Penny
Knock  Penny
Knock  Penny

In [29]:
knock('Sachin') # call the function

Knock  Sachin
Knock  Sachin
Knock  Sachin

In [30]:
knock(1) # call the function

Knock  1
Knock  1
Knock  1

In [32]:
def knock(a): # define the function
    print(a)
    print("Knock ", a)
    print("Knock ", a)
    print("Knock ", a)

knock("Colab")

Colab
Knock  Colab
Knock  Colab
Knock  Colab

In [33]:
def add_two_num(x,y):
    print(x+y)

In [34]:
add_two_num(2,3)

5

In [35]:
add_two_num(-10,100)

90

In [37]:
def knock(var1,var2,var3): # define the function
    print("Knock", var3)
    print("Knock", var2)
    print("Knock", var1)

knock("Sheldon", "Penny", "Raj") # call the function

Knock Raj
Knock Penny
Knock Sheldon

In [38]:
knock("A", "B","C")

Knock C
Knock B
Knock A

In [39]:
def add_two_num(x,y):
    print(x+y)

add_two_num(10,20)

30

In [43]:
def add_two_num(x,y):
    print(x+y)

add_two_num(10,20,30)

TypeError: ignored

# Homework: Find a way to pass dynamic number of args in pyton
```(HINT:*args, **kwargs)```

In [44]:
def func(x,y,z):
    print(x)
    print(y)
    print(z)

In [45]:
func(1,"A","$")

1
A
$

In [47]:
func("A",1+2,"$")

A
3
$

In [ ]:
def add_nums(x,y):
    print(x+y)

add_nums(10,20)

30

In [3]:
add_nums(add_nums(10,20), 30)

30

TypeError: ignored

In [6]:
z = add_nums(10,20)
add_nums(z,30)

30

TypeError: ignored

In [7]:
z = add_nums(10,20)
print(z)

30
None

In [8]:
print(z)

None

In [9]:
z+10

TypeError: ignored

In [11]:
def add_nums(x,y):
    return x+y

z = add_nums(10,20)

In [12]:
print(z)

30

In [13]:
print(z+100)

130

In [14]:
add_nums(z,20)

50

In [24]:
def add_nums(x,y):
    a = x+y
    return a

z = add_nums(1000,230)
print(z)

1230

In [25]:
def add_nums(x,y):
    a = x+y
    b = x*y
    return a,b

z = add_nums(1000,230)
print(z)

(1230, 230000)

In [26]:
def add_nums(x,y):
    a = x+y
    print(a)
    return
    b = x*y
    print(b)

z = add_nums(10,20)
print(z)

30
None

In [28]:
def func():
    print("hello")
    print("Hi")
    return
    print("World")

func()

hello
Hi

In [30]:
def func():
    print("hello")
    print("Hi")
    return 0
    print("World")
    return 1
a = func()

hello
Hi

In [31]:
print(a)

0

### Docstring

In [36]:
def func():
    '''
    this is com1
    this is com2
    '''

    print("Hello World")
func()

Hello World

In [37]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [38]:
help(func)

Help on function func in module __main__:

func()
    this is com1
    this is com2

In [41]:
def add_nums(a,b):
    """
    takes two args a and b
    return sum of a and b
    """
    return a+b

help(add_nums)

Help on function add_nums in module __main__:

add_nums(a, b)
    takes two args a and b
    return sum of a and b

- Docstring: Done
- Global vs Local Variable: Next Class

In [47]:
def square(x):
    return x*x

x = square(3)
y = square(5)
print(x,y)

print(x + y)

9 25
34

In [45]:
def square(x): # x = 3
    # local var
    return x*x # return 3*3

# global var
x = square(3) # x = 9
print(x)

9

- Local Variables: Variables defined inside a function are called local Variables
- Global Variables: Varaibles defined outside are called Global Variables

In [49]:
def print_max(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
print_max(3, 4)

4 is maximum

In [60]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n # 0*5*4*3
        n -= 1

    return result

print(factorial(5))

120

In [61]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    print(result)
print(factorial(5))

120
None

In [63]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    print(total) # first 15 is from this print
print(do_something(5)) # do_something(5) = None

15
None

In [64]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    print(total)
    return total
print(do_something(5)) # do_something(5) = 15

15
15

In [71]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i # 0 +1
        i += 1
    return total
print(do_something(5))

15

In [72]:
z = do_something(6)

In [73]:
print(z)

21

In [66]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i # 0 +1
        i += 1
    print(total)
print(do_something(5))

15
None

In [68]:
def func():
    print("Hello")
a = func()

Hello

In [69]:
print(a)

None

In [77]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i # 0 +1
        i += 1
    print(total)
    return total
print(do_something(5))

15
15

- return gives the output of function which can be reused later
- Print just displays the results

In [3]:
max(1,2,3,-100)

3

In [4]:
def max():
    return -999

In [5]:
max(1,2)

TypeError: ignored

In [6]:
N = int(input())

5

In [7]:
for i in range(N):
    inp = input()

23
543
53
52345
1231

In [1]:
list1 = (input().split(" "))

10 20 30

In [2]:
for i in range(len(list1)):
    print(int(list1[i]))

10
20
30

In [5]:
list(map(int, input().split(" ")))

20 30 40

[20, 30, 40]

In [6]:
N = input()

150

In [ ]:
for  i range(100,N):
    print("YOUR FANCY LOGIC OF ARMSTRONG")