<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/List_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = [1,"H"]
list1.append(True)
print(list1)

[1, 'H', True]

In [2]:
# string is immutable
str1 =  "Sachin"
str1 = str1+ " Kaushik" # here we are creating a new string by using old value of str1 and adding kaushik
print(str1)

Sachin Kaushik

id: Gives the id/memory-location of any variable

In [3]:
a=10
print(id(a))

140653108363792

In [5]:
b=11
print(id(b))

140653108363824

In [6]:
list1 = [1,"H"]
print(id(list1))

140651857733824

In [7]:
list1.append(True)
print(list1)
print(id(list1))

[1, 'H', True]
140651857733824

In [8]:
# string is immutable
str1 =  "Sachin"
print(id(str1))
str1 = str1+ " Kaushik" # here we are creating a new string by using old value of str1 and adding kaushik
print(str1)
print(id(str1))

140651857698992
Sachin Kaushik
140651857706608

Mutables: List, Set and Dictionary

In [ ]:
# extend and + operation: joins two lists.

##**Question-1**
Given list of all runs by Virat, print runs made in odd matches (Even Indexes).

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [10]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
for i in runs:
    print(i)

62
85
74
10
12
101
122
99
81
55

In [14]:
for i in range(0,len(runs)):
    if i%2==0:
        print(runs[i])

62
74
12
122
81

In [15]:
for i in range(0,len(runs),2):
    print(runs[i])

62
74
12
122
81

In [18]:
# take input as string and split that to create list of strings
runs= input().split(" ")
print(runs)

10 12 14
['10', '12', '14']

In [20]:
# to convert each element of list into string
runs = list(map(int,runs))
print(runs)

[10, 12, 14]

In [ ]:
# to convert each element of list into string
for i in range(runs):  # list(map(int,runs))
    runs[i]=int(runs[i])
print(runs)

In [23]:
# single line of code to take input string and convert into list of ints
runs = list(map(int,input().split(" ")))

10 15 15 17

In [24]:
print(runs)

[10, 15, 15, 17]

In [22]:
"A,B,C".split(",")

['A', 'B', 'C']

In [25]:
runs = input().split(" ")
runs = (map(int,runs))
print(runs)

10 12 15
<map object at 0x7fec41848ac0>

In [26]:
print(list(runs))

[10, 12, 15]

##**Question-2**
Given list of all runs by Virat, create a new list of runs made in odd matches (Even Indexes).

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [31]:
def get_odd_runs(runs):
    odd_runs = []
    for i in range(0,len(runs),2):
        odd_runs.append(runs[i])
    return odd_runs

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
out = (get_odd_runs(runs))

In [70]:
runs[::2]

[62, 74, 12, 122, 81]

In [32]:
print(out)

[62, 74, 12, 122, 81]

In [36]:
odd_runs=[]
for i in range(1,len(list1),2):
    odd_runs.append(list1[i])
print(odd_runs)

['H']

##**Question-3**
Given list of all runs by Virat, create a new list of runs made in last 5 matches.

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [38]:
def get_odd_runs(runs):
    odd_runs = []
    for i in range(-5,0):
        odd_runs.append(runs[i])
    return odd_runs

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(get_odd_runs(runs))

[101, 122, 99, 81, 55]

In [72]:
runs[len(runs)-5:]

[101, 122, 99, 81, 55]

In [73]:
runs[-5:]

[101, 122, 99, 81, 55]

In [41]:
def get_odd_runs(runs):
    odd_runs = []
    for i in range(len(runs)-5,len(runs)):
        odd_runs.append(runs[i])
    return odd_runs

runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(get_odd_runs(runs))

[101, 122, 99, 81, 55]

##**Question-4**
Given list of all runs by Virat, create a new list of runs made in first 3 matches.

```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [42]:
def get_first3(runs):
    list3 = []
    for i in range(3):
        list3.append(runs[i])
    return list3

A = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(get_first3(A))

[62, 85, 74]

In [69]:
A[:3]

[62, 85, 74]

##**Question-5**
Given list of all runs by Virat, create a new list of runs made from the 3rd match to the 7th match.
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [46]:
def get_first3_7(runs):
    list3_7 = []
    for i in range(2,7):
        list3_7.append(runs[i])
    return list3_7


print(get_first3_7(runs))

[74, 10, 12, 101, 122]

In [66]:
new_runs = runs[2:7]
print(new_runs)

[74, 10, 12, 101, 122]

##**Question-6**
Given list of all runs by Virat, write a function to reverse the list
```runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]```

In [55]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
list1 = []
for i in range(len(runs)-1,-1,-1):
    list1.append((runs[i]))
print(list1)

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

### Slicing:

In [64]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
print(runs[len(runs)-1::-1])

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

In [65]:
runs[::-1]

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

In [67]:
a = [10,20]
a[100]

IndexError: ignored

In [68]:
a[:100]

[10, 20]

a = [10, 20, 30, 440, 50, 60, 70, 80, 90, 100]
##Homework Question:
1. ```a[3:5]```
1. ```a[:8]```
1. ```a[:]```
1. ```a[7:]```
1. ```a[-2:-5:-1]```
1. ```a[-2:-7]```
1. ```a[:-5]```
1. ```a[-2:]```
1. ```a[-8:5]```
1. ```a[-8:5:-1]```

In [74]:
a[-8:5:-1]

[]

In [76]:
a = [10, 20, 30, 440, 50, 60, 70, 80, 90, 100]
a[-8]

30

In [77]:
a[5]

60

In [78]:
a[2:2]

[]

In [79]:
l = [2, 4, 5, 7, 8]
print(l[5:0])

[]

In [80]:
print(l[5:0:-1])

[8, 7, 5, 4]

### All Immutables

In [81]:
var = 10 # GLOBAL VAR:
def funct():
    var = 11 # we create a new local var here

funct()
print(var)

10

In Mutables: we can change inside function and results will be reflected everywhere

In [82]:
var = [10]
def funct():
    var.append(11)

funct()
print(var)

[10, 11]

Map: can be used to replace any for loop

In [83]:
list1 = ["1", "2", True]
print(list(map(int, list1)))

[1, 2, 1]

In [87]:
list1 = [2,3,4]
list1_sq = []
for i in list1:
    list1_sq.append(i*i)
list1_sq

[4, 9, 16]

In [95]:
def sq(i):
    return i+1
print(sq(10))

11

In [96]:
list1 = [2,3,4]
list(map(sq,list1 ))

[3, 4, 5]

In [91]:
str1 = "Shubham"
def my_func():
    str1 = "Shubham Shukla" # local var str1
    print(str1)
my_func()

Shubham Shukla

In [92]:
print(str1)

Shubham

In [93]:
str1 = ["Shubham"] # Mutables
def my_func():
    str1.append("Shukla") # local var str1
    print(str1)
my_func()

['Shubham', 'Shukla']

In [94]:
print(str1)

['Shubham', 'Shukla']

In [97]:
a= [10,20,30]# len(a)=3
a[::]

[10, 20, 30]

In [98]:
a[0:3:1]

[10, 20, 30]