## **Question 1**: Write a loop to print the following numbers : 1,4,7,10,13,16
Use both for loop and while Loop to do this.

## **Question 2**: Take a number N as input and Write a loop to take N subsequent numbers from user and print the Largest of N Numbers.

## **Homework Question:** Write Loop to print the following series: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55

HINT: 3rd term is always sum of first two terms

In [3]:
for i in range(1,17,3):
    print(i, end=' ')

1 4 7 10 13 16

In [5]:
a=int(input())
for i in range(1,a,3):
    print(i)

17
1
4
7
10
13
16

In [7]:
N = int(input())

5

In [8]:
max = -9999999#float('-inf')
for i in range(5):
    n = int(input())

1
2
543
6
6

In [ ]:
1>2
2>3
3<0
3

In [11]:
if True:
    pass
print("Do Something")

Do Something

In [15]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
Here
3
4

In [16]:
for i in range(5):
    if i==3:
        print("Here")
    print(i)

0
1
2
Here
3
4

- A) 01234
- B) 0124
- C) 3
- D) 012

In [17]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [19]:
for i in range(5):
    print("Before")

Before
Before
Before
Before
Before

In [21]:
for i in range(5):
    if i<3:
        continue
    print(i)
    print("HKJDFSh")
    print(i*5)

3
HKJDFSh
15
4
HKJDFSh
20

continue: For skipping code blocks after continue statement

In [26]:
i=0
while i<10:
    i+=1
    if i>5 and i<8:
        continue
    print("HELLO", i-1)

HELLO 0
HELLO 1
HELLO 2
HELLO 3
HELLO 4
HELLO 7
HELLO 8
HELLO 9

In [28]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [30]:
for i in range(5):
    if i ==1:
        pass
    if i==2:
        continue
    if i==3:
        break
    print(i)

SyntaxError: ignored

https://bit.ly/3OYYazD

In [32]:
for i in range(4):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [33]:
for i in range(4):
    for j in range(3):
        print(i,j)
        print("Inside Child Loop")

0 0
Inside Child Loop
0 1
Inside Child Loop
0 2
Inside Child Loop
1 0
Inside Child Loop
1 1
Inside Child Loop
1 2
Inside Child Loop
2 0
Inside Child Loop
2 1
Inside Child Loop
2 2
Inside Child Loop
3 0
Inside Child Loop
3 1
Inside Child Loop
3 2
Inside Child Loop

In [36]:
for i in range(4):
    print("Before Child: Here")
    for j in range(3):
        print(i,j)
    print("After Child: Here")

Before Child: Here
0 0
0 1
0 2
After Child: Here
Before Child: Here
1 0
1 1
1 2
After Child: Here
Before Child: Here
2 0
2 1
2 2
After Child: Here
Before Child: Here
3 0
3 1
3 2
After Child: Here

In [37]:
for i in range(4):
    print("*"*100)
    for j in range(3):
        print(i,j)

****************************************************************************************************
0 0
0 1
0 2
****************************************************************************************************
1 0
1 1
1 2
****************************************************************************************************
2 0
2 1
2 2
****************************************************************************************************
3 0
3 1
3 2

In [42]:
i=0
while i<4:
    j = 0
    print('*'*100)
    while j<3:
        print(i,j)
        j+=1
    i+=1

****************************************************************************************************
0 0
0 1
0 2
****************************************************************************************************
1 0
1 1
1 2
****************************************************************************************************
2 0
2 1
2 2
****************************************************************************************************
3 0
3 1
3 2

Which of the options is NOT correct for the range: range(5, 1)?
```
S->5
E->1
I->1
```

In [43]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [45]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        break
    print(x)
else: 
    print("Loop finished")

1
2

In [47]:
x = 0
while x <= 5:
    x += 1
    if x == 8:
        break
    print(x)
else: 
    print("Loop finished")

1
2
3
4
5
6
Loop finished

In [50]:
for i in range(3):
    print(i)
    if i==2:
        break
else:
    print("Else block")

0
1
2

## Question: Take input N and Write a program to print NxN matrix of *
```
Example Input:
3

Example Output: 
***
***
***
```

In [53]:
N = int(input())
for i in range(N):
    print("")
    for j in range(N):
        print("*", end="")

3

***
***
***

##**Question**: Write a program to print a multiplication table till an input **N**.

```
Example Input:
3

Example Output: 
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

```

###**Question**: Given two integer inputs, write a program to calculate the GCD of these two numbers
```
Example Input:
16 24

Example Output:
8
```

###**Question**: Given two integer inputs, write a program to calculate the LCM of these two numbers.
```
Example Input:
6 8

Example Output: 
24
```

###**Question**: Take Input number from user and check whether its prime or not
HINT: BREAK AND Loop's ELSE

###**Question**: Take Input number N from user, if it's a Prime Number, print Factorial of Number N else print Nth Fibonaci Term

In [56]:
A = int(input())
B = int(input())
X = min(A,B)
ans = None
for i in range(1,X+1):
    if A%i==0 and B%i==0:
        ans = (i)
print(ans)

16
24
8

In [57]:
A = int(input())
B = int(input())
X = min(A,B)
ans = None
for i in range(X,0,-1):
    if A%i==0 and B%i==0:
        ans = (i)
        break
print(ans)

16
24
8

We want to find the Quotient(q), and Remainder(r) of the division of 2 numbers, i.e. x is divided by y. Which of the following code blocks can be used for this? Assume that the code before blocks is common for all the blocks. 
```
x = int(input())
y = int(input()) 
q = 0
r = 0
```
Block A
```
    while x > y:
        x -= y
        q += 1
    print(q, r)
Block B
```
    while x >= y:
        x -= y
        q += 1
    print(q, y)
```
Block C
```
    while x >= y:
        x -= y
        q += 1
    print(q, x)
``` 
    
in this question there are 4 options option 1 is block A
option 2 is block B
option 3 is block C
option 4 is None of the above as there are no constraints to the input value of x and y shouldn't the answer be none of the above as the options do no cater for the instance when x<y or when y = 0 or when x =0

In [ ]:

while x > y:
    x -= y
    q += 1
print(q, r)

In [ ]:
Num1 = 9
Num2 = 2

In [58]:
9-2
7-2
5-2
3-2
1-2
Q = 4
R=0
0-2

-2

In [ ]:
x=3
y = 10
Q=0

In [ ]:
N=int(input())
fact=1
for i in range (2,N):
fact=fact*i
if N%i==0:
print('not prime')
i=0
j=1
print(i,j, end=' ')
c=1
while c<N:
num=i+j
i=j
j=num
c+=1
print(num, end=' ')
break
else:
fact=factN
print('prime')
print(fact)