<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Problem_Solving1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

True

In [12]:
username = input()
if username=="sachin":
    print("Logged in Successful")
    print("Instructor Login")
elif username=="naveen":
    print("Logged in Successful")
    print("learner Login")
else:
    print("UserName Incorrect")

naveen
Logged in Successful
learner Login

In [13]:
username = input()
if username=="sachin" or "naveen":
    print("Logged in Successful")
else:
    print("UserName Incorrect")

Hell
Logged in Successful

In [18]:
username = input()
pwd = input()
if username=='sachin' and pwd=="sherlock":
    print(username, "Logged In Successfully")
else:
    print("Incorret Username or PWd")

sherlocl
sherlock
Incorret Username or PWd

In [ ]:
username = input()
pwd = input()
if username=='sachin':
    if pwd=="sherlock":
        print(username, "Logged In Successfully")
    else:
        print("Incorret Username or PWd")
else:
    print("Incorret Username or PWd")

In [19]:
username = input()
pwd = input()
if username=='sachin':
    if pwd=="sherlock123":
        print(username, "Logged In Successfully")
    else:
        print("PWD is InCorrct ")
else:
    print("Incorret Username")

sachin
sherlock123
sachin Logged In Successfully

Suppose there are three users Sarthak, Sachin and Sanath. Password of Sarthak is 231, password of Sachin is 123 and password of Sanath is 321. If anybody other than Sachin logs in says username not in data base. If Sachin and Sanath log in then it should say enter password. If correct password is entered by the user the output should be “Sarthak/Sachin/ Sanath has logged in correctly” else incorrect password

In [21]:
username = input()
pwd = input()
if username=='sachin' and pwd=="sherlock":
    print(username, "Logged In Successfully")

elif username=='sanath' and pwd=="12345H":
    print(username, "Logged In Successfully")
elif username=='sarthak' and pwd=="9990":
    print(username, "Logged In Successfully") 
else:
    print("Username not in DB")

ljksdfja
123
Username not in DB

In [31]:
username = input("Enter userName:").lower()
password = int(input("Enter Password:"))
print(username)
if username == "sachin" or username == "sanath" or username== "sarthak":
    if username == "sachin":
        if password == 123:
            print(username, "logged in succesfully")
        else:
            print("wrong Password: ")
    elif username == "sathak":
        if password == 231:
            print (username,"logged in succesfully")
    elif username=="sanath":
        if password == 321:
            print(username, "logged in succesfully")
else:
    print("User not in database")

Enter userName:sanath
Enter Password:2390842093
sanath

In [26]:
username="Sachin"
if username != "Sachin" or username != "Sanath" or username!= "Sarthak":
    print("inside if")
else:
    print("Inisde Else")

inside if

In [30]:
"HELLO".lower()

'hello'

In [33]:
name = 'sav'
if name=='Sachin':
    print("Hey")

But in reality there may be millions of users and passwords and we can't code for every username and pwd generated and here how we need to code??

In [37]:
list1 = ["sachin", "naveen", "Jatin"] # this will come from Database
username = input()
if username in list1:
    print("Valid Username")
else:
    print("Not IN DB")

naveen
Valid Username

In [39]:
a="sachin"
if a=="navin":
    print(True)
else:
    print(False)

False

In [42]:
a="sachin"
if a=="naveen":
    print(True)
print("Hello")
else:
    print(False)

SyntaxError: ignored

In [48]:
a="sachin"
if a=="naveen":
    print(True)
else:
    print(False)
    
print("Hello")

False
Hello

In [51]:
a="sachini"
if a=="sachin":
    print(True)
else:
    print(False)
print("Hello")

False
Hello


Not related to quizz : when it is true, if block is executed and if there is a error in else block, it will throw error or it executes if??

In [53]:
a="sachin"
if a=="sachin":
    print(True)
else:
    print(False)
    prit("Hell") # compiltime error and Runtime Error
print("Hello")

True
Hello

In [56]:
a="sachini"
if a=="sachin":
    print(True)
else:
    print(False)
    print(1 +"HEllo")
print("Hello")

False

TypeError: ignored

"",0,None --->False

In [60]:
a=""
if a:
    print(True)
else:
    print(False)

False

In [61]:
a=""
if b:
    print(True)
else:
    print(False)

NameError: ignored

In [62]:
a=""
if "b":
    print(True)
else:
    print(False)

True

In [65]:
name = "navin"
if name=="sachin" and "Naveen":
    print(True)
else:
    print("False")

False

In [68]:
a,b,c,d=10,100,1,-1
print(min(a,b,c,d))

-1

### Homework Question:
Take 3 number from user and print Maximum as well as minimum.

In [69]:
a,b,c,d=10,100,1,-1
print(max(a,b,c,d))

100

In [72]:
a,b,c,d=10,100,1,-1
print(sum([a,b,c,d]))

110

In [ ]:
class A:
    def (self,A):
        p##

Given the nested if-else structure below, what will be the value of "a" after code execution completes 
```
a = 4
b = -5
if a > 0:
    if b < 0:
        a = a - 2
    elif a > 5:
        a = a - 4
    else:
        a = a + 3
else:
    b = b + 2
```

In [74]:
a = 10
b = -5
if a > 0:
    if b < 0:
        a = a - 2 # 8
    if a > 5:
        a = a - 4 # 4
    else:
        a = a + 3
else:
    b = b + 2

print(a)

4

In [78]:
a = 6
b = -5
if a > 0:
    if b < 0:
        a = a - 2 # 4
    if a > 5:
        a = a - 4
    else:
        a = a + 3 # 7
else:
    b = b + 2

print(a,b)

7 -5

In [ ]:
a = 6
b = -5

if b < 0:
    a = a - 2 # 4
if a > 5:
    a = a - 4
else:
    a = a + 3 # 7


print(a)

Problem Description You are given the Cost Price C and Selling Price S of a Product. You have to tell whether there is a Profit or Loss. Also, calculate total profit or loss. NOTE: It is guaranteed that Cost Price and Selling Price are not equal.

In [80]:
c=int(input())
s= int(input()) 

if s>c:
    print(1)
    print(s-c)

else:
    print(-1)
    print(c-s)

2
4
1
2

In [81]:
c=int(input())
s= int(input()) 

print("Cost Price = ",c)
print("Selling Price =", s)

if s>c:
    print("As Cost Price < Selling Price, there is a profit.")
    print("Total Profit = Selling Price - Cost Price =", s-c)

else:
    print(-1)
    print(c-s)

2
4
Cost Price =  2
Selling Price = 4
As Cost Price < Selling Price, there is a profit.
Total Profit = Selling Price - Cost Price = 2

In [ ]:
def main():
    # YOUR CODE GOES HERE
    # Please take input and print output to standard input/output (stdin/stdout)
    # E.g. 'input()/raw_input()' for input & 'print' for output
    c=int(input())
    s= int(input()) 
    
    if s>c:
        print(1)
        print(s-c)
    
    else:
        print(-1)
        print(abs(s-c))

    return 0

if __name__ == '__main__':
    main()

In [82]:
abs(-19)

19

In [83]:
s = int(input()) # dollars
e = int(input()) # inr

# dollars : 1 Dollar=80 rs
print(s-e) # final saving in Doolar

114
12
102

suppose if we have to give the no of days in a year where the year is not leap year instead of declaring an if condition like if a==1 or a==3 or a ==5 and so onn can we use anything like IN clause of sql

In [86]:
a = 5
print(a in ["June",5,"july"])

True

In [89]:

mon = input()
if mon in ["Jan", "March"]:
    print("31 Days")
elif  mon in ["Apr", "Jun"]:
    print("30 days")

Jan
31 Days

In [95]:
a= str(input())
if a in ["Python" ,"Java"]:
    print("Nice choice!")
elif a=="Golang":
    print("You're a cool person I see...")
elif a=="JavaScript":
    print("Okay so you are our web developer!")
elif a== "C++":
    print("Too old school...")
else:
    print("I don't know that language.")

Pythion
I don't know that language.

In [ ]:

Months are denoted as follows:
January : 1
February : 2
March : 3
April : 4
May : 5
June : 6
July : 7
August : 8
September : 9
October : 10
November : 11
December : 12

In [ ]:
if month==1:
    print(31)
elif month==2:
    print(28)
elif month==3:
    print(31)
elif month==4:
    print(30)

In [96]:
A = int(input())
# Use if, else if to find the month
if A == 1 or A == 12 or A == 10 or A == 8 or A == 7 or A == 5 or A == 3:
    print(31)
elif A == 2:
    print(28)
elif A == 4 or A == 6 or A == 9 or A == 11:
    print(30)
else:
    print("Invalid Month")

4
30

In [97]:
pp = int(input())
gt = int(input())
if pp==0 and gt==1:
    print(1)
else:
    print(0)

0
`

ValueError: ignored