<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/PS4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
dict1 = {"x":25, "y" :25 ,"z": 50}
sum1=0
for k in dict1:
    print(dict1[k])
    sum1+=dict1[k]
print(sum1)

25
25
50
100

In [2]:
dict1 = {"x":25, "y" :25 ,"z": 50}
for k,v in dict1.items():
    print(v)

25
25
50

In [6]:
sum(dict1.values())

100

In [7]:
max(dict1.keys())

'z'

### "AABC"--> {"A":2,"B":1,"C":1}

In [14]:
str1="BCAA"
dict1={}
for char in str1:
    if (char) not in dict1:
        dict1[char]=1
    else:
        dict1[char]+=1
dict1

{'B': 1, 'C': 1, 'A': 2}

In [17]:
dict2={}
for i in "ABCDE":
    if i in dict1:
        dict2[i]=dict1[i]
dict2

{'A': 2, 'B': 1, 'C': 1}

Frequency of words

In [19]:
str1="I AM GOOD ARE YOU GOOD" #-->{"I":1, "AM":1,  "GOOD":2, "ARE":1}
str1 = str1.split()

dict1={}
for char in str1:
    if (char) not in dict1:
        dict1[char]=1 # intialize
    else:
        dict1[char]+=1 # increment
dict1

{'I': 1, 'AM': 1, 'GOOD': 2, 'ARE': 1, 'YOU': 1}

https://www.scaler.com/hire/test/problem/22407/

In [21]:
sent1 = "in data analysis we use data and process it further to create better interpreted data"
sent2 = "more and more data will be passively collected"

In [23]:
set(sent1.split())

{'analysis',
 'and',
 'better',
 'create',
 'data',
 'further',
 'in',
 'interpreted',
 'it',
 'process',
 'to',
 'use',
 'we'}

In [24]:
set(sent2.split())

{'and', 'be', 'collected', 'data', 'more', 'passively', 'will'}

In [25]:
len(set(sent1.split())) +len(set(sent2.split()))

20

In [30]:
len(set((sent1+" "+sent2).split()))

18

In [34]:
set1 = set(sent1.split())
set2 = set(sent2.split())
len(set1 | set2)

18

In [37]:
set1.update(set2)
set1

{'analysis',
 'and',
 'be',
 'better',
 'collected',
 'create',
 'data',
 'further',
 'in',
 'interpreted',
 'it',
 'more',
 'passively',
 'process',
 'to',
 'use',
 'we',
 'will'}

In [38]:
max(1,2,3)

3

In [39]:
1<2

True

In [40]:
max("A","B","C")

'C'

In [41]:
"A"<"C"

True

In [42]:
1<"A"

TypeError: ignored

In [43]:
1<ord("A")

True

In [44]:
max("1","sea_level","999")

'sea_level'

In [45]:
1=="1"

False

In [46]:
max("abc","aab","acb")

'acb'

In [49]:
sorted(["cab","abc","aab","acb"])

['aab', 'abc', 'acb', 'cab']

In [50]:
ord("abc")

TypeError: ignored

In [51]:
ord("a"),ord("b"), ord("c")

(97, 98, 99)

In [53]:
def mycustomord(str1):
    pass # tuple of ascii's

def ord(char):
    ascii = {"a":65,"b":66,"c":67}
    if char in ascii:
        return ascii[char]
    else:
        return "Invalid Character"
ord("a")

65

In [ ]:
### Encryption Algorithm: "oppnenhiemer"-->"rss...." # char = char+3

### Decrypted Algorithm:

In [59]:
tup = (1,2,3,2, "Hello", [4,8,16], "Hello")
dict1={}
for char in tup:
    if str(char) not in dict1:
        dict1[str(char)]=1 # intialize
    else:
        dict1[str(char)]+=1 # increment
for k in dict1:
    print(k,":",dict1[k])

1 : 1
2 : 2
3 : 1
Hello : 2
[4, 8, 16] : 1

'[4, 8, 16]'

In [60]:
tup = (1,2,3,2, "Hello", [4,8,16], "Hello")
set1=set()
for char in tup:
    if str(char) not in set1:
        set1.add(str(char))
        print(char,":",tup.count(char)) # 100 ops

1 : 1
2 : 2
3 : 1
Hello : 2
[4, 8, 16] : 1

In [ ]:
# n =100
# 100 ops --> n ops

# 100*100 ops--> n*n ops

In [67]:
list1 = ["A", "B","C","D","E","F","G","H"]
set1 = {"A","B","C","D","E","F","G","H"}
print("A" in list1)
print("A" in set1)

True
True

In [68]:
%%timeit
("A" in list1)  # for loop: linear search

49.7 ns ± 14.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [69]:
%%timeit
("A" in set1) # hashing

43.9 ns ± 1.36 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

if there are no duplicate elements list would take less time but
if there are duplicate elements then sets would take lesser time

In [70]:
str1 = "08/12/1998"
("12/08/1998", "1998/12/08")

('12/08/1998', '1998/12/08')

In [71]:
str1.split("/")

['08', '12', '1998']

In [75]:
split_date =str1.split("/")
split_date[1]+"/"+split_date[0]+"/"+split_date[2]

'12/08/1998'

In [76]:
split_date[2]+"/"+split_date[1]+"/"+split_date[0]

'1998/12/08'

In [77]:
def date_format(date):
    '''Input: date takes the string as input
       Output:return resultant date formats'''

    # YOUR CODE GOES HERE
    split_date =date.split("/")
    return split_date[1]+"/"+split_date[0]+"/"+split_date[2], split_date[2]+"/"+split_date[1]+"/"+split_date[0]

In [78]:
A = "aabbccbb"
B = 98
C = 100

# aaddccdd
chr(B)

'b'

In [79]:
chr(C)

'd'

In [82]:
A.replace(chr(B),chr(C))

'aaddccdd'

In [84]:
A = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [8,9, 10]
     ] # mxn-->nxm
R = len(A)
C = len(A[0])
print(R,C)

4 3

In [97]:
# incorrect way to initialize
list1 = [[0]*R]*C
print(list1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [98]:
list1[1][1]=20

In [99]:
print(list1)

[[0, 20, 0, 0], [0, 20, 0, 0], [0, 20, 0, 0]]

In [100]:
# correct way to intialize a matrix
list1 = [[0]*R  for i in range(C)]
print(list1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [106]:
A

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [8, 9, 10]]

In [107]:
for i in range(R):
    for j in range(C):
        print(A[i][j], end=" ")
        list1[j][i]=A[i][j] # swap
    print(" ")

1 2 3
4 5 6
7 8 9
8 9 10

In [108]:
print(list1)

[[1, 4, 7, 8], [2, 5, 8, 9], [3, 6, 9, 10]]

Attention in Transformer/GPT

In [109]:
e= A[1][1]
i = A[2][2]

45

In [115]:
A = [[1, 2],[4, 5],[8, 9]]
R = len(A)
C=len(A[0])
output= []

# loop  Row by Row
for i in range(R):
    sum1 = 0
    for j in range(C):
        sum1+=A[i][j]
    output.append(sum1)

In [116]:
output

[3, 9, 17]

In [122]:
# loop column by column
for i in range(C):
    sum1 = 0
    for j in range(R):
        print(A[j][i], end = " ")
        sum1+=A[j][i]
    output.append(sum1)
    print()

1 4 8
2 5 9

In [123]:
output

[3, 9, 17, 13, 16]

In [124]:
def solve( A):
    R = len(A)
    C = len(A[0])
    output= []

    # loop  Row by Row
    for i in range(R):
        sum1 = 0
        for j in range(C):
            sum1+=A[i][j]
        output.append(sum1)

    for i in range(C):
        sum1 = 0
        for j in range(R):
            sum1+=A[j][i]
        output.append(sum1)
    return output

In [126]:
A = [[1, 2],[4, 5],[8, 9]]
R = len(A)
print(R)

3

In [127]:
A[0]

[4, 5]

- FUNCTION
- FOR LOOP
- LSTD

In [129]:
list1 = [1,2,3,4]
for i in list1:
    print(i)
    if i==2:
        break
else:
    print("Full Loop Executed")

1
2

In [135]:
list1 = [1,2,3,4]
i = 0
while i < len(list1):
    print(i)
    if i==9:
        break

    else:
        print("dependent on if")

    i+=1
else:
    print("Full Loop Executed")

0
dependent on if
1
dependent on if
2
dependent on if
3
dependent on if
Full Loop Executed


Hi Sachin, In scaler hint for transpose, it was mentioned to use nested loop and append..which one is efficient? creating an empty matrix and updating or creating each element and append?

In [136]:
list1 = [[0]*3]*3
print(list1)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [137]:
list1[0][-1]=100
print(list1)

[[0, 0, 100], [0, 0, 100], [0, 0, 100]]

In [143]:
A = [[1, 2],
     [3, 4]] # MxN
B = [[5, 6], # NxP
     [7, 8]]


A = [[1, 1]] # 1x2
B = [[2], # 2x1
     [3]]

M = len(A)
N = len(A[0])
P = len(B[0])
out = [[0]*P for i in range(M)]# MxP


for i in range(M):
    for j in range(P):
        print(i,j)
        for k in range(N): # looping from 1 to
            out[i][j]+=A[i][k]*B[k][j] # cij = Ai1*b1j
print(out)

0 0
[[5]]

```
out[i][j]= A[i][0]*B[0][j]+
            A[i][1]*B[1][j] +
            A[i][2]*B[2][j] +
            ....
            A[i][n]*B[n][j]