<a href="https://colab.research.google.com/github/SachinScaler/DSMLBeginnerPythonMay23/blob/main/Tuples%2BSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuple: Immutable

In [1]:
list1 = ['Sun','Mon','Tue','Wed','Thu', 'Fri','Sat']
tup1 = ('Sun','Mon','Tue','Wed','Thu', 'Fri','Sat')
print(type(list1))
print(type(tup1))

<class 'list'>
<class 'tuple'>

Advantage of Tuple over List?

### Tuple

In [6]:
# create empty tuple
a = ()
print(type(a))

<class 'tuple'>

In [3]:
a = (4)
print(type(a))

<class 'int'>

In [4]:
a = ("4")
print(type(a))

<class 'str'>

In [5]:
a = (4,)
print(type(a))

<class 'tuple'>

In [9]:
# second way of creating tuple
a = tuple()
print(a,type(a))

() <class 'tuple'>

In [13]:
a = tuple(1)
print(a,type(a))

TypeError: ignored

In [14]:
a = tuple([1])
print(a,type(a))

(1,) <class 'tuple'>

In [15]:
a = tuple([1,2,3,4])
print(a,type(a))

(1, 2, 3, 4) <class 'tuple'>

In [17]:
print(a)
print(list(a))

(1, 2, 3, 4)
[1, 2, 3, 4]

In [20]:
# tuple(map(int,tuple(input().split())))

Can I index

In [21]:
a

(1, 2, 3, 4)

In [22]:
print(a[0])

1

In [23]:
print(a[0:4])

(1, 2, 3, 4)

In [24]:
a[0]=10

TypeError: ignored

In [25]:
a.count(11)

0

In [26]:
a.index(2)

1

In [27]:
a.append(2)

AttributeError: ignored

In [31]:
a = (1,2,3)
print(id(a))
a = a+(4,)

140265861166272

In [32]:
print(a)
print(id(a))

(1, 2, 3, 4)
140265861084512

In [33]:
for i in a:
    print(i)

1
2
3
4

In [34]:
for i in range(len(a)):
    print(i,a[i])

0 1
1 2
2 3
3 4

In [38]:
a=([1,2],3)
print(id(a))

140265299828864

In [36]:
a[0].append(3)

In [39]:
print(a)
print(id(a))

([1, 2], 3)
140265299828864

Packing and Unpacking:

In [40]:
a = (1,2,3)
print(type(a))

<class 'tuple'>

In [41]:
len(a)

3

In [42]:
# we are upacking
'''
x = a[0]
y=a[1]
z = a[2]
'''
x,y,z = a
print(x)

1

In [43]:
print(y)

2

In [44]:
print(z)

3

In [57]:
data =  ("Sachin", 12,35)
name, rollno, marks =data
print(name) #
print(rollno)
print(marks)

Sachin
12
35

In [46]:
a,b=input(),input()

1
2

In [48]:
print(b)

2

In [51]:
a,b = [1,2]
print(a)

1

In [52]:
a,b,c = (1,2)

ValueError: ignored

In [54]:
a,b = (1,2,3)

ValueError: ignored

In [55]:
# packing
a = 1,2,3
print(type(a))

<class 'tuple'>

In [56]:
# packing
x=1
y=2
z="Hi"

a = x,y,z
print(a)

(1, 2, 'Hi')

In [58]:
x = 12
print(a)

(1, 2, 'Hi')

In [59]:
def func():
    return "Sachin","Instructor"
out = func()
print(out)

('Sachin', 'Instructor')

### **Iterating over a list of tuples**

In [79]:
list1 = [(1,"Atul"),(2, "Jalaj"), (3, "Ajay"),(4,"Abhishek"), (5,"Mani")]
# print("RollNo",rollno,"Name: ",name)

In [80]:
for i in list1:
    print("RollNo",i[0],"\tName: ",i[1])

RollNo 1 	Name:  Atul
RollNo 2 	Name:  Jalaj
RollNo 3 	Name:  Ajay
RollNo 4 	Name:  Abhishek
RollNo 5 	Name:  Mani

In [81]:
for i,j in list1:
    print("RollNo",i,"\tName: ",j)

RollNo 1 	Name:  Atul
RollNo 2 	Name:  Jalaj
RollNo 3 	Name:  Ajay
RollNo 4 	Name:  Abhishek
RollNo 5 	Name:  Mani

In [83]:
for rollno,name in list1:
    print("Name",name,"\tRole: ",rollno)

Name Atul 	Role:  1
Name Jalaj 	Role:  2
Name Ajay 	Role:  3
Name Abhishek 	Role:  4
Name Mani 	Role:  5

### Given two number, swap them

In [76]:
a = 10
b = 5

# naive method
temp = b # temp will contain 5
b = a
a=temp
print(a,b)

5 10

Homework: optimize the above algo without using third variable

In [78]:
# unpacking
a= 10
b = 5
a,b = b,a
print(a,b)

5 10

### Sets:

In [84]:
a= { }
print(type(a))

<class 'dict'>

In [85]:
a = set()
print(type(a))

<class 'set'>

In [86]:
# No Dups
a = {1,2,3,4}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [87]:
a = {1,2,3,4,1,1,1,1}
print(a, type(a))

{1, 2, 3, 4} <class 'set'>

In [88]:
list1= [1,2,3,1,3,2]
print(len(set(list1)))

3

In [90]:
# sets are unordered
a = {1,2,3,4}
a[0]

TypeError: ignored

In [91]:
a[0:3]

TypeError: ignored

In [98]:
for i in a:
    print(i)

1
2
3
4

In [94]:
for i in range(len(a)):
    print(a[i])

TypeError: ignored

In [102]:
a = {5,2,3,1}
print(a)
for i in a:
    print(i)

{1, 2, 3, 5}
1
2
3
5

only immutables

In [103]:
set1 = {1,2,3,[4,5]}
print(set1)

TypeError: ignored

In [104]:
set1 = {1,2,3,{4,5}}
print(set1)

TypeError: ignored

In [109]:
set1 = {1,2,3,(4,5)}
print(set1)

{3, 1, (4, 5), 2}

In [114]:
for i in set1:
    print(i)

3
1
(4, 5)
2

In [115]:
for i in set1:
    print(i)

3
1
(4, 5)
2

### Set methods

In [116]:
s={1,2,3}
print(s)

{1, 2, 3}

In [117]:
# add element
s.add(4)

In [ ]:
print(s)

In [119]:
# remove element
s.remove(3)
print(s)

{1, 2, 4}

In [121]:
s={1,2,3,4}
a = s.pop()
print(s)

{2, 3, 4}

In [122]:
print(a)

1

In [124]:
set1 = {1,2,3,(4,5)}
print(set1)

{3, 1, (4, 5), 2}

In [125]:
print(set1.pop())

3

In [127]:
s={1,2,3,4}
s.add(5)
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [128]:
s={1,2,3,4}
s.update([5,6])
print(s)

{1, 2, 3, 4, 5, 6}

In [129]:
s={1,2,3,4}
s.update((5,6,7))
print(s)

{1, 2, 3, 4, 5, 6, 7}

Question:
* Write a function to Take a string as input.
* Print the number of unique characters in the string.

In [131]:
def count_un():
    string = input(" ")
    unique_characters = set(string)
    print("Unique characters:", unique_characters)
count_un()

 sachinn
Unique characters: {'h', 'c', 'i', 's', 'n', 'a'}

In [132]:
set([1,2,3,1])

{1, 2, 3}

In [134]:
set("Sachinmnnn")

{'S', 'a', 'c', 'h', 'i', 'm', 'n'}

### Set operation

In [135]:
s1 = {1,2,3}
s2 = {2,5,3,4}

s1.intersection(s2)

{2, 3}

In [136]:
s2.intersection(s1)

{2, 3}

In [137]:
s2.intersection(s2)

{2, 3, 4, 5}

In [139]:
# intersection shortcut
s1 & s2

{2, 3}

Union

In [140]:
s1 = {1,2,3}
s2 = {2,5,3,4}

s1.union(s2)

{1, 2, 3, 4, 5}

In [141]:
s1 = {1,2,3}
s2 = {2,5,3,4}
s3 = {11,12,3}
s1.union(s2).union(s3)

{1, 2, 3, 4, 5, 11, 12}

In [143]:
s1 | s2

{1, 2, 3, 4, 5}

In [144]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 11, 12}

difference:

In [145]:
s1 = {1,2,3}
s2 = {2,5,3,4}
s1.difference(s2)

{1}

In [146]:
s1 = {1,2,3}
s2 = {2,5,3,4}
s2.difference(s1)

{4, 5}

In [147]:
s1-s2

{1}

In [148]:
s2-s1

{4, 5}

symmetric difference

In [149]:
s1 = {1,2,3}
s2 = {2,5,3,4}
s2.symmetric_difference(s1)

{1, 4, 5}

In [150]:
s1.symmetric_difference(s2)

{1, 4, 5}

In [151]:
s1 ^ s2

{1, 4, 5}

## **Question - 3**
* You are given a string as input.
* Ascertain wheather that string contains a binary number or not.

```
Sample input-1
"0011010101ab"
```
```
Sample input-2
"010010101010"
```

```
Sample output-1
"Not Binary!"
```
```
Sample output-2
"Binary!"
```

In [161]:
#how do we add a str or int to list with tup in it
list1 = [(1,"hello"), (2,"World")]
list1[0]

(1, 'hello')

In [162]:
a= list(list1[0])
a.append("bye")
list1[0]=tuple(a)
print(list1)

[(1, 'hello', 'bye'), (2, 'World')]